@mixin f-style($f-size, $f-weight, $f-color) {
    font-size: $f-size;
    font-weight: $f-weight;
    color: $f-color;
}

.wishlist{
    margin-top: 3rem !important;
}

.wishlist-header{
    h3{
        @include f-style(30px, 400, rgb(36, 39, 44));
      
    }
    p{
        @include f-style(16px, 400, rgb(120, 137, 152));
        margin-top: 8px;
    }
}


.liked__cards-wrapper{
    margin-top: 1.6rem;
    display: grid;
    justify-items: center;
    gap: 1rem 1.5rem;
    grid-template-columns: repeat(5, 1fr);
}

.empty__wishlist-wrapper{
    width: 100%;
    text-align: center;
    padding: 3rem 0 !important;
    p{
        @include f-style(34px, 500, rgb(120, 137, 152));
    }
}

// Responsive Styles

@media only screen and (max-width: 1044px){
    .liked__cards-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 938px){
    .liked__cards-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 690px){
    .liked__cards-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}