@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: .2s all ease-in-out;
}

.container{
  max-width: 98%;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

:root{
  --secondary-color: #4b4949;
  --dark-color: #000;
    --light-color: #fff;
    --danger-color: #FF4444;
    --danger-light-color: #FFEDED;
    --warning-color: #FFBE1F;
    --secondary-color: #505C6A;
    --success-color: #51cc9f;
    --success-light-color: #E7F8F3;
    --warning-hover-color: #ffc01faf;
    --secondary-dark-color: #24272C;
    --secondary-light-color: #EBEEF0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

*::-webkit-scrollbar{
  width: 5px;
}
*::-webkit-scrollbar-thumb{
  border-radius: 8px !important;
  background-color: var(--warning-color);
}


.swiper-button-next, .swiper-button-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px !important;
  height: 34px !important;
  border-radius: 50% !important;
  background-color: #EBEEF0;
  border: 1px solid #a6abb1;
  padding: 1rem !important;
  &::after{
      color: #a6abb1 !important;
      font-weight: 700 !important;
      font-size: 16px !important;
  }
}

@media only screen and (max-width:400px){
  .swiper-button-next, .swiper-button-prev{
      width: 25px !important;
      height: 25px !important;
      padding: 12px !important;
      &::after{
          font-size: 13px !important;
      }
  }
}

.swiper-button-prev:hover{
  background-color: var(--light-color);
  border: 1px solid #a6abb1;
  &::after{
      color: var(--warning-color) !important;
  }
}
.swiper-button-next:hover{
  background-color: var(--light-color);
  border: 1px solid #a6abb1;
  &::after{
      color: var(--warning-color) !important;
  }
}

@media only screen and (max-with:580px){
 .swiper .swiper-button-next, .swiper-button-prev{
      width: 3px !important;
      height: 37px !important;
      padding: .5rem !important;
      display: none !important; 
      &::after{
          color: #a6abb1 !important;
          font-weight: 700 !important;
          font-size: 16px !important;
      }
  }
}